{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">

    <!-- Modal -->
    <div class="modal fade form-modal changepassModal" id="passwordChange" aria-hidden="true" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog maxwid_460">

            <!-- Modal content-->
            <div class="modal-content">
                <form method="post">
                        {% csrf_token %}
                    <!--{{ form.as_p }}-->

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center mt15 mb30">
                                    <img src="{% static 'images/IFIC-Bank-Limited-logo.jpg' %}"
                                         width="200px">
                                </div>
                                <h3 class="modal-title mb15 ch-pass-title">Change Password</h3>
                                <span class="clearfix"></span>
                                <div class="form-group">
                                    <label>
                                        Old password:
                                    </label>
                                    <input type="text" class="form-control" name="old_pass">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        New password:
                                    </label>
                                    <input type="text" class="form-control" name = "new_pass">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <small class="form-group instructions">
                                    <i class="fa fa-check "></i> Your password can't be too similar to your other
                                    personal
                                    information.<br>
                                    <i class="fa fa-check"></i> Your password must contain at least 8 characters.<br>
                                    <i class="fa fa-check"></i> Your password can't be a commonly used password.<br>
                                    <i class="fa fa-check"></i> Your password can't be entirely numeric.<br>
                                </small>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>
                                        Confirm New password :
                                    </label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn base-bg">
                            Save changes
                        </button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
<style>


</style>
{% endblock %}

{% block javascript %}
<script>
    $('#passwordChange').modal('show');
</script>
{% endblock %}