body{
	background-color: #222629;
	
	margin-bottom:50px;

}
.navbar a{
	color :#61892F;
}
.greeting h1, h2{
	color: white;
}
.greeting h3{
	color:#86C232;
}
.greeting p{
	color:#6B6E70;
}

/*.search_bar{
	border-color:#61892F;
	border-width: 5px;
	border-radius: 5px;
}*/

.parallax{
	
	background-color: #5b0763;
	background-attachment: fixed;
	color:white;
	border-radius: 6px; 
}

.about_us h3{
	margin-top: 10%;
	color: #86C232;

}
.about_us p{
	color:#6B6E70;
}

.suggestions h3, p{
	color: white;
}


#loading{
    position: fixed;,
    top: 0; left: 0;
    width: 100%; height:100%;
    background-color: rgba(57, 57, 56, 0.6);
    z-index: 1000;
    display:none;
}
#loading img{
    position: relative;
	top: 50%; left: 45%;
	hight: 10%;
	width: 10%;
}
